.conatiner{
    border: 3px solid red;
    background-color: green;
    height: 500px;
    width: 500px;
    display: flex;
}

.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid orange;
    background-color: aqua;

    /* transition: .5s; */
    /* transition-property: background-color; */

    /* transition: background-color 1s ease ; */
    /* transition: all 1s ease 1s ; */
    
    transition: 3s ease 1s; 

    /* transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease;
    transition-delay: 1s; */

}

.box:hover{
    background-color: brown;
    transform: scale(2) translate(500px) rotate(360deg);
}